.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.results-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .mat-tab-group {
    width: 80vw;

    .mat-tab-label {
      width: 33%;
    }

    .mat-card {
      margin: 10px;
      min-height: 50vh;

      .card-title {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
      }

      .mat-grid-list {
        .mat-grid-tile {
          background-color: lightblue;
          cursor: pointer;

          &.edit-mode {
            background-color: transparent;
          }
        }
      }

      .list {
        list-style: none;
        text-align: left;

        .list-item {

        }
      }
    }
  }
}
