<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <form #rollForm="ngForm" (ngSubmit)="submitRollForm(rollForm.value)">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="toRoll"
        placeholder="Enter roll here..."
        [(ngModel)]="toRoll"
        autofocus
      >
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        name="repeat"
        placeholder="Repeat count"
        [(ngModel)]="repeat"
      >
    </mat-form-field>

    <button
      type="submit"
      [disabled]="!toRoll || repeat < 1"
      mat-mini-fab
      color="primary"
    >
      <i aria-label="Roll the dice!" class="material-icons md-18">loop</i>
    </button>
  </form>

  <div class="results-container">

    <mat-card>
      <form #presetForm="ngForm" (ngSubmit)="savePresets()">
        <mat-card-header>
          <div class="card-title">
            <h3>Presets</h3>
            <button
              mat-button
              color="primary"
              (click)="enterEditMode()"
              *ngIf="!presetEditMode"
            >
              <i aria-label="Roll the dice!" class="material-icons md-18">edit</i>
            </button>
            <button
              type="submit"
              mat-button
              color="primary"
              *ngIf="presetEditMode"
            >
              <i aria-label="Roll the dice!" class="material-icons md-18">done</i>
            </button>
          </div>
        </mat-card-header>
        <mat-card-content>
          <mat-grid-list cols="2" rowHeight="2:1" *ngIf="!presetEditMode">
            <mat-grid-tile
              *ngFor="let preset of presets"
              (click)="submitRollPreset(preset)"
            >
              {{preset}}
            </mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list cols="2" rowHeight="2:1" *ngIf="presetEditMode">
              <mat-grid-tile
                class="edit-mode"
                *ngFor="let preset of editedPresets; index as idx;"
              >
                <mat-form-field>
                  <input
                    matInput
                    type="text"
                    name=`preset${idx}`
                    [value]="preset"
                    (change)="editPreset($event, idx)"
                  >
                </mat-form-field>
              </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
      </form>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title><h3>Rolls</h3></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul class="list">
          <li class="list-item" *ngFor="let roll of rolls">{{roll}}</li>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title><h3>Results</h3></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul class="list">
          <li class="list-item" *ngFor="let result of resRolls" >{{result}}</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>
