<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <form #rollForm="ngForm" (ngSubmit)="doRoll(rollForm)">
    <input
      type="text"
      name="toRoll"
      placeholder="Enter roll here..."
      [(ngModel)]="toRoll"
      autofocus
    >
    <input
      type="text"
      name="repeat"
      [(ngModel)]="repeat"
    >
    <button type="submit" [disabled]="!toRoll || repeat < 1">Roll!</button>
  </form>

  <div class="results-container">
    <textarea class="details">{{spread(rolls)}}</textarea>
    <textarea class="details">{{spread(resRolls)}}</textarea>
  </div>
</div>
