.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.results-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .mat-card {
    margin: 10px;
    width: 25vw;
    min-height: 50vh;

    .mat-grid-list {
      .mat-grid-tile {
        background-color: lightblue;
      }
    }

    .list {
      list-style: none;
      text-align: left;

      .list-item {

      }
    }
  }
}
